.navbar
{
    border: 1px solid #ccc;
    background-color: #039dfc;
    color: #fff;
    
    .navbar--Item
    {
        height: 100%;
        width: 110px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        
        &:hover
        {
            background-color: #03cafc;
        }
    }
    
    .navbar--Logo
    {
        background-color: #03cafc;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .navbar--Login
    {
        background-color: #fcad03;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        
        &:hover
        {
            background-color: #ffbd2e;
        }
    }
}
